/* RGB */
$color1: rgba(80, 125, 38, 1);
$color2: rgba(183, 157, 148, 1);
$color3: #66397d;
$color4: rgba(150, 150, 150, 1);
$color5: #efefef;
$color6: #e6e6e6;

@mixin button($col) {
    background: $col;
    color: #fff;
    border: 0;
    border-bottom: 2px solid darken($col, 10%);
    &:hover {
        background: darken($col,10%);
        color: #fff;
    }
}
.btn-bd-off {
    border: 0;
    border: 1px solid $color1;
}
.btn-default {
    @include button($color4);
}
.btn-primary {
    @include button($color1);
}
.btn-secondary {
    @include button($color2);
}
.btn-wire {
    border: 1px solid #fff!important;
    background: none;
    color: #fff;
}