.nav-top {
    background: $color3;
}
.nav-bottom {
    background: $color5;
    margin-bottom: 0;
}

header {
    padding-top: 6px;
	background: #efefef;
    border-radius: 0;
    margin-bottom: 0;
    ul {
        padding: 0;

        a {
            color: #color3;
            font-size: 22px;
            &:hover {
                color: $color2;
            }
        }
        li ul li a {
            font-size: 18px;
            color: #000;
        }
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar.navbar-collapse {
        text-align: center;
    }
    .dropdown-menu ul li {
        text-align: left;
    }
} 
.enquire, .sign-up {
	margin-right: 6px;
}
.logo {
	display: block;
	width: 24%;
    margin: 0 auto;
    padding: 20px 0;
}

.test li  {
    margin-right: 10px;
    @include breakpoint(1024) { margin-right: 50px;}
    @include breakpoint(1200) { margin-right: 90px;}
    top: 3px;
}
.call-us {
	font-size: 1.5em;
}
.phone-btn {
	margin-right: 8px;
}

#enquire {
	background: #eaeaea;
	padding: $sectionPad 0;
}
.navbar-toggle {
    background: white;
}
.nav-top .container {
    position: relative;
}
.buttons {
    position: absolute;
    top: 0;
    right: 0;
}